<!Doctype html>
<html lang = 'en'>
    <head>
        <title>UM</title>
    </head>
    <body>
        <h1>ABOUT ME</h1>
        <a href= "resume.html">resume</a>
        <a href ="index.html">home</a>
        <a href ="html.html">html projects</a>
        <a href = "python.html">python projects</a>
        <a href= "reflections.html">reflections</a>
        <link rel ="stylesheet" href="../styles/portfolio.css">
        <main>
            <h2>My family</h2>
            <p>My family has been <mark>important</mark> to my academic prowess as they push me to come to school and succeed and without them I would be nowhere</p>
            <hr>
            <h2>My favorite music</h2>
            <ul>
                <li>FXMLDR</li>
                <li>Charlie's Inferno</li>
            </ul>
            <hr>
            <h2>My favorite websites</h2>
            <ol>
                <li>https://store.<mark>steam</mark>powered.com/</li>
                <li>https://<mark>soundcloud</mark>.com/</li>
                <li>https://<mark>frivwtf</mark>.com/</li>
            </ol>
            <hr>
            <h2>My favorite food</h2>
            <img alt="sambusa" src="../images/SAMBUSA.jpg">
            <ol>
                <li> Sambusa</li>
                <li> Chapati </li>
                <li> Chicken Sandwich </li>
            </ol>
            <hr>
            <h2>My favorite pieces of media</h2>
            <ol>
                <li>nine sols</li>
                <li>deltarune</li>
                <li>silksong</li>
            </ol>


        </main>


    </body>








</html>