<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
        </style>

    </head>
    <body>
    <nav>
        <a href = %20CSS_explained.html>CSS explained</a>
        <link rel="stylesheet" href="../styles/portfolio.css">
    </nav>
    <h1 id="sdlc2"> The Software Development Life Cycle</h1>
    <h2>Contents</h2>
    <a href="#sdlc">Software Development Life Cycle</a>
    <a href ="#agile">Agile Phase</a>
    <a href ='#desc'>Agile Phases Descriptions</a>
    <a href ="#table">Phase and Roles of SDLC</a>
    <h2 id="sdlc">Software Development Life Cycle</h2>
    <p>The software development lifecycle (SDLC) is the cost-effective and time-efficient process that development teams use to design and build high-quality software. The goal of SDLC is to minimize project risks through forward planning so that software meets customer expectations during production and beyond. This methodology outlines a series of steps that divide the software development process into tasks you can assign, complete, and measure.</p>
    <h2 id = "desc">Agile Description</h2>
    <p>The Agile SDLC is a software development methodology that emphasizes collaborative thinking, feedback-driven decision-making, and cyclical change. Under Agile, teams complete work in sprints work cycles lasting 1 to 4 weeks that allow frequent discussions about what's working and what's not.</p>
    <h2 id = "agile">Agile Phases</h2>
    <table id ="table">
        <thead>
        <tr>
            <th>Agile Phases</th>
            <th>Description</th>
        </tr>
        </thead>
        <tr>
            <th>Concept</th>
            <td>The planning phase is the foundation of any successful software development project. Project goals, objectives, and requirements are gathered and documented during this phase</td>
        </tr>
        <tr>
            <th>Inception</th>
            <td>The inception phase of an Agile project refers to the early stages of planning and envisioning how the finished product will look.</td>
        </tr>
        <tr>
            <th>Iteration</th>
            <td>This phase involves cross-functional teams who implement prioritized features from the backlog. Depending on the Agile methodology, this takes from one to four weeks (usually two). During each iteration, teams design and develop features, then test and integrate them.</td>
        </tr>
        <tr>
            <th>Release</th>
            <td>During the release phase, end-users or customers receive working and potentially shippable increments of the software. Iterative features are integrated, tested, and prepared for deployment.</td>
        </tr>
        <tr>
            <th>Maintenance</th>
            <td>The last phase of the SDLC is maintenance. Even after the software is deployed, ongoing support is necessary to address issues, apply updates, and add new features.
            </td>
        </tr>
        <tr>
            <th>Retirement</th>
            <td>In Agile, the retirement phase represents the end of the software’s life cycle. The goal here is to safely shut down software that is no longer used or supported. Teams perform data migration and archiving</td>
        </tr>
    </table>
    <h2>Phases and Roles of SDLC</h2>
    <table>
        <thead>
        <tr>
            <th>Phase Name</th>
            <th>Roles that do most of the work in this phase</th>
            <th>Artifacts created in this phase</th>
            <th>Description of the Phase</th>
        </tr>
        </thead>
        <tr>
            <td>Idea</td>
            <td>
                <details>
                    <summary>Business Owner</summary>
                    The individual who runs the business.
                </details>
            </td>
            <td>
                <details>
                    <summary>Software Project Scope Document</summary>
                    Contains the full plan of the project including end goals
                </details>
            </td>
            <td>The initial stage of software development, Planning, involves defining the software's purpose and scope, much like pinpointing our destination and plotting the best route. We uncover the tasks at hand during this phase and strategize for efficient execution.</td>



        </tr>
        <tr>
            <td>Planning</td>
            <td>
                <details>
                    <summary>Project manager</summary>
                    The main responsibilities of the PO are to set the direction and prioritize. Since he or she represents the stakeholders, the PO must clearly communicate their interests to the development team.
                </details>
            </td>
            <td>
                <details>
                    <summary>Software Vision Statement</summary>
                    The overall plan for the project
                </details>
            </td>
            <td>The information from this analysis forms the building blocks of a basic project. The quality of the project is a result of planning. Thus, in this stage, the basic project is designed with all the available information.</td>



        </tr>
        <tr>
            <td>Analysis</td>
            <td>
                <details>
                    <summary>Business analysts</summary>
                    These guys are responsible for analyzing and interpreting raw data and documenting business processes.
                </details>
            </td>
            <td>
                <details>
                    <summary> Requirement documentation</summary>
                    A document covering the needs of the stakeholders and what the project needs to succeed basically providing the requirements
                </details>
            </td>
            <td>The Analysis Phase in the Software Development Life Cycle (SDLC) is essential, acting as a bridge between planning and the actual design and development of a software system. This phase ensures that all stakeholders requirements and business goals are fully understood, documented, and validated before moving forward.</td>



        </tr>
        <tr>
            <td>Design</td>
            <td>
                <details>
                    <summary>Technical Architect, UX Designer, Business Analyst, Project Manager, QA Lead.</summary>
                    UI design is all about how a product looks, and UX design is all about how it works. A UI/UX designer needs to have a strong understanding of both disciplines to create a product that is both visually appealing and easy to use.
                </details>
            </td>
            <td>
                <details>
                    <summary>Wireframe and Software Requirements Specification</summary>
                Create designs that appeal to the users visually and allows them to use it easily
                </details>
            </td>
            <td>Phase where requirements are converted into technical design specifications</td>



        </tr>
        <tr>
            <td>Development</td>
            <td>
                <details>
                    <summary>Back and Front End Developers</summary>
                    Engineers and Developers write code and create the project
                </details>
            </td>
            <td>
                <details>
                    <summary>Code</summary>
                    Developers use an appropriate programming language, Java or otherwise, to write the code, guided by the SDD and coding guidelines. This document, acting as a roadmap, ensures the software aligns with the vision set in earlier phases.
                </details>
            </td>
            <td>The Coding phase in the Software Development Life Cycle (SDLC) is when engineers and developers get down to business and start converting the software design into tangible code.</td>



        </tr>
        <tr>
            <td>Testing</td>
            <td>
                <details>
                    <summary>Developers and Test engineers</summary>
                    After establishing test cases, developers and engineers should rigorously test the software.
                </details>
            </td>
            <td>
                <details>
                    <summary>Testing plan</summary>
                    When a test reveals a bug, it is documented in detail, noting its symptoms, reproduction method, and its influence on the software. These bugs are then sent back to the developers for rectification. Once the required fixes are implemented, the software re-enters the testing phase for validation. This process is a cycle of persistent refinement until the software complies with all predetermined parameters.
                </details>
            </td>
            <td>Consider the Testing phase of the SDLC as a stringent quality inspection on a production line. It is when vulnerabilities are uncovered. Software testing involves a thorough examination of the software for any bugs or glitches that might have slipped through during coding. The aim is to ensure flawless software operation before it reaches the end-users. </td>



        </tr>
        <tr>
            <td>Deployment</td>
            <td>
                <details>
                    <summary>Dev-Op developers</summary>
                    A DevOps engineer is an IT generalist who should have a wide-ranging knowledge of both development and operations, including coding, infrastructure management, system administration, and DevOps toolchains.
                </details>
            </td>
            <td>
                <details>
                    <summary>Released Project/Release Plan</summary>
                    Stage in sdlc where code is completed and tested application is moved to the production environment and made available to end users
                </details>
            </td>
            <td>After crafting a product with precision, it's time to present it to the users by pushing to the production environment. The Deployment phase involves rolling out the meticulously tested and fine-tuned software to its end-users.</td>



        </tr>
        <tr>
            <td>Maintenance</td>
            <td>
                <details>
                    <summary>Software developer</summary>
                    Software developers design, program, build, deploy and maintain software using many different skills and tools.
                </details>
            </td>
            <td>
                <details>
                    <summary>Maintenance Plan</summary>
                    The primary focus is to adapt to the software's changing needs. This adaptation involves responding to user feedback, resolving unexpected issues, and upgrading the software based on users' evolving requirements. It's a continuous process of refining and adapting, much like a gardener tending to their garden.
                </details>
            </td>
            <td>n the Software Development Life Cycle, the maintenance phase is characterized by constant assistance and improvement, which guarantees the software's best possible functioning and longevity and ensures it meets customer expectations.</td>



        </tr>

    </table>
    </body>


</html>